.new-admin-container {
    .access-section{
        position: relative;

        // &:before {
        //     content: '';
        //     position: absolute;
        //     height: 10px;
        //     width: 10px;
        //     background: #A7A7A7;
        //     border-radius: 5px;
        //     left: -30px;
        //     top: 8px;
        // }
    
        // &:after {
        //     content: '';
        //     left: -25.5px;
        //     position: absolute;
        //     height: calc(100% + 30px);
        //     width: 1px;
        //     background: #A7A7A7;
        //     top: 10px;
        // }
    
        &:last-child {
            &:after {
                content: none;
            }
        }

        .serial-check {
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid #5dd2b3;
            text-align: center;
            line-height: 28px;
            color: #5dd2b3;
            margin-right: 10px;
            text-indent: -1px;

            &.checked {
                text-indent: 0;
                color: #fff;
                background-color: #5dd2b3;
            }
        }
    }

    .access-details {
        span {
            display: inline-block;;
        }
    }

    .steps {
        display: block;
    }
}



.create-access-group-modal {
    .switch {
        vertical-align: middle;
    }
    .checkbox {
        vertical-align: text-top;
    }
}

.add-email {

    .react-tags__search {
        padding: 3px 0;
    }

    .react-tags {
        padding: 6px;
        border-radius: 5px 0 0 5px;

        .react-tags__selected-tag {
            background: transparent;
            border-radius: 5px;
            margin: 3px 6px 3px 0;
        }
    }
    input {
        height: 29px;
        border: 0;
        min-width: 50px;


        &:focus {
            outline: 0;
        }
    } 

    .button {
        height: 48px;
        width: 58px;
        border-radius: 0 3px 3px 0 !important;
    }

    .react-tags__search {
        margin: 0;
    }
}

.block-divider {
    position: relative;
    top: -40px;
    left: calc((100% - 100px)/2);
}