.apf-padding{
    padding: 35px 20px 0px 20px;
  }
  
  .apf-driver-card{
    padding: 15px;
    height: 100%;
    font-weight: 700;
    text-align: center;
  }
  
  .apf-search{
    input{
        background-color: transparent;
        border-color: #9c9c9c;
        &::placeholder{
            color: #b7b7b7;
        }
    }
    .icon{
        color: #b7b7b7 !important;
    }
  }
  
  .apf-card-wrapper{
    .apf-card{
        padding: 20px;
        margin-top: 30px;
    }
    .apf-topic{
        margin-top: 30px;
    }
  }