@import './Responsive.scss';
@import './Box.scss';
@import './APF.scss';
@import './Access.scss';
@import './Access.scss';
@import './lifecycle.scss';
@import 'bulma/sass/utilities/initial-variables.sass';
$link: #4a8cb2;
$info: #4a8cb2;
$danger: #dd8787;
$grey-darker: #7a7a7a;
$family-primary: 'Work Sans', sans-serif;

@import 'bulma/bulma.sass';
@import './bulma-steps/bulma-steps.sass';

.login_form {
  padding: 15px;
  margin: 40px 0px;
}

.full-vh {
  height: 97.8vh;
}

.is-hoverable {
  cursor: pointer;
}

.app-wrapper {
  margin-top: 30px;
}

.notification-message .message {
  background-color: transparent;
}

.dropdown-fix-height {
  max-height: 300px;
  overflow-y: auto;
}

.custom-table {
  overflow-x: auto;
}

.no-focus:focus {
  background-color: #fff !important;
}

.no-data {
  margin: 20px 0px;
}

.pd-up-20 {
  padding-top: 18px !important;
}

.pd-up-5 {
  padding-top: 5px;
}

.pd-10{
  padding: 10px !important;
}

.mg-ud-15 {
  margin: 15px 0px;
}

.mg-rt-15 {
  margin-right: 15px;
}

.mg-bottom-12{
  margin-bottom: 12px;
}

.label {
  font-size: 0.8rem !important;
}

.disable-bg {
  background-color: #f5e8e8 !important;
}

/* Navbar */

.absolute-navMenu {
  position: absolute;
  width: 100%;
}

.navbar {
  border-bottom: 1px solid lightgray;
}

.navbar-dropdown {
  margin-right: 10px;
}

.navbar-item {
  cursor: pointer;
}

.nav-icon {
  margin-right: 8px;
}

.hidden {
  display: none !important;
}

/* Margins */

.margin-auto {
  margin: auto !important;
}

.mg-10 {
  margin: 10px !important;
}

.mg-5 {
  margin: 5px;
}

.mg-tb-10 {
  margin: 5px 0px;
}

.mg-bottom-10 {
  margin-bottom: 10px !important;
}
.mg-bottom-20 {
  margin-bottom: 20px !important;
}
.mg-bottom-15 {
  margin-bottom: 15px !important;
}


/* 404 */

#fofmain {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof {
  display: table-cell;
  vertical-align: middle;
  h1 {
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
    animation: type .5s alternate infinite;
  }
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }

  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}


.demo-wrapper {
  border: 1px solid lightgray;
  padding: 10px;
}

/* chat */

.chat {
  border: solid 1px #EEE;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.messages {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.chat-message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 0.8rem !important;
}

.amber {
  align-items: flex-start;
  .chat-message {
    margin-right: 25%;
    background-color: #eee;
    position: relative;
    &.last {
      &:before {
        content: "";
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: -7px;
        height: 20px;
        width: 20px;
        background: #eee;
        border-bottom-right-radius: 15px;
      }
      &:after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: -10px;
        width: 10px;
        height: 20px;
        background: white;
        border-bottom-right-radius: 10px;
      }
    }
  }
}

.yours {
  align-items: flex-end;
  .chat-message {
    color: white;
    margin-left: 25%;
    background: linear-gradient(to bottom, #209cee 0%, #209cee 100%);
    background-attachment: fixed;
    position: relative;
    &.last {
      &:before {
        content: "";
        position: absolute;
        z-index: 0;
        bottom: 0;
        right: -8px;
        height: 20px;
        width: 20px;
        background: linear-gradient(to bottom, #209cee 0%, #209cee 100%);
        background-attachment: fixed;
        border-bottom-left-radius: 15px;
      }
      &:after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: -10px;
        width: 10px;
        height: 20px;
        background: white;
        border-bottom-left-radius: 10px;
      }
    }
  }
}

.v-middle {
  vertical-align: -webkit-baseline-middle;
}

.v-middle-align{
  vertical-align: middle !important;
}

.sign-img {
  width: 141px;
  margin: auto;
}

.active-tab {
  color: #3776dd !important;
}

.width-100px {
  width: 100px;
}

.width-200 {
  width: 200px;
}

.font-size-8 {
  font-size: 0.8rem !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-size-10-px {
  font-size: 10px;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-left {
  justify-content: left !important;
}

.disbaled-tab {
  color: darkgrey !important;
  cursor: not-allowed;
  &:hover {
    color: darkgrey !important;
    cursor: not-allowed;
    background-color: white !important;
    border-bottom-color: #dbdbdb !important;
    border-right-color: #dbdbdb !important;
    border-top-color: #dbdbdb !important;
    border-left-color: #3273dc !important;
  }
}

.mg-tag-access{
  margin: 5px !important;
}

.flex-end{
  justify-content: flex-end !important;
}
.radius-access{
  border-radius: 0px 0px 5px 5px;
}

.autosuggest-access{
  text-align: center;
  margin: 10px 10px 150px 10px;

  .react-autosuggest__input{
    width: 100% !important;
  }
  
  .react-autosuggest__input{
    height: 38px !important;
  }
  
  .react-autosuggest__suggestion{
    font-size: 13px;
    text-align: left;
  }
  
  .react-autosuggest__suggestions-container--open{
    width: 100% !important;
  }
  .react-autosuggest__suggestions-list{
    height: 150px;
    overflow-y: scroll;
  }
}


.features-outer-div{
  margin-left: 1%;
}

.summary-outer-div{
  margin-left: 2%;
}

.color-green{
  color: #3c763d !important;            
}
.color-red{
  color: #b51a00 !important;
}
.color-yellow{
  color: #b47c20 !important;            
}

.summary-header-text{
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px solid grey;
}

.summary-border-text{
  border-top: 1px solid grey;
}

.margin-subhead{
  margin: 15px 10px 10px 10px;
}

.access-p{
  margin: 10px;
  font-size: 12px;
}

.no-padding-top{
  padding-top: 0px !important;
}

.no-padding-bottom{
  padding-bottom: 0px !important;
}
.modal-header-text{
  font-weight: bold;
  font-size: 18px
}

.modal-sub-header-text{
  font-size: 14px
}

.feedback-download-spinner{
  @media screen and (max-width: 400px) {
    min-width: 250px;
  }
  font-size: 16px;
  margin-right: 1%;
  line-height: 2.3;
  position: fixed;
  right: 2%;
  bottom: 5%;
  background-color: #4c82e0b8;
  color: white;
  height: auto;
  width: auto;
  white-space: normal;
  min-width: 350px;
  border-radius: 5px;
  float: right;
  overflow: auto;
  word-wrap: break-word;
  min-height: 25px;
  z-index: 9999;
}

.spinner-right-margin{
  font-size: 22px;
  margin-left: 10px;
  line-height: 1.5;
  @media screen and (max-width: 400px) {
    margin-right: 5px;
    font-size: 20px;
  }
}

.feedback-download-text{
  padding-left: 1%;
  float: right;
  margin-right: 15px;
  @media screen and (max-width: 400px) {
    margin-right: 0px;
    font-size: 12px;
    line-height: 3;
  }
}

.navbar-item-hov:hover {
  background-color: rgb(245, 245, 245);
}

.toggle-text{
  vertical-align: text-bottom;
  margin-left: 10px;
}

.space-toggle{
  padding: 10px !important;
  margin: 0px !important;
}

.space-dd{
  margin-bottom: 10px;
  margin-left: 3px;
}

.fixed-height-dd{
    max-height: 250px;
    overflow-y: auto;
    width: 250px;
}

.fixed-width-actions{
  width: 185px;
}

.width-100{
  width: 100%;
}

.no-margin-right{
  margin-right: 0px !important;
}

.manager-heading{
  font-size: 12.5px!important;
  border-bottom: 1px solid #f1f1f1;
}

.driver-ele-acc{
    padding: 5px 0px 10px 5px !important;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 8px !important;
}

.sub-drivers{
  padding-left: 15px;
}

.disable-anchor{
  pointer-events: none;
  cursor: not-allowed;
  background-color: white;
  span{
    color: #d3d2d2 !important;
  }
  color: #d3d2d2 !important;
}
.image-conatiner .image {
    display: inline-block;
  }

.user-profile {
  .file {
    display: inline-block;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.customize-columns{
  color: #3273dc !important;
  cursor: pointer;
  text-decoration: none;
  border: none !important;
}
.body-no-scroll{
  height: 100%; 
  width: 100%;
  overflow: hidden;
  position: fixed;
  .prevent-scroll-wrapper{
      position: absolute;
      width: 100%;
  }
}

.transparent-bg{
  background-color: transparent !important;
}

.checkbox-title{
    padding-left: 5px;
    font-size: 12px; 
}

.pd-20{
  padding:20px;
}

.select-all-title{
    font-size: 12px;
    padding: 10px;
    font-weight: bold;
}

.round-up-modal{
  border-radius: 5px 5px 0px 0px;
}

.border-bottom-dark{
  border-bottom: 1px solid grey;
}

.constant-dropdown{
  max-height: 200px;
  overflow-y: scroll;
}

.is-fullwidth{
  width: 100% !important;
}

.is-justified{
  justify-content: center !important;
}

.precedence-symbol:last-child {
  display: none;
}

.min-width-145{
  min-width: 145px;
}

.min-width-100{
  min-width: 100px!important;
}

.min-width-unset{
  min-width: unset!important;
}

.v-align-sub{
  vertical-align: sub;
}

.product-checkbox{
  .checkbox{
    padding: 10px 0px 10px 50px;
  }
  input {
    margin-right: 10px;
  }
}

.precedene-buttons{
  position: relative;
  i{
    margin-right: 10px;
  }
}

.precedence-box{
  border-bottom: 1px dashed lightgray;
  padding: 15px 10px !important;
}

.justify-flex-end{
  justify-content: flex-end !important;
}

.justify-space-between {
  justify-content: space-between !important;
}

.cursor-cross{
  cursor: grab !important;
}

.question-card:nth-child(odd) {
  background-color: #f9fcff !important;
}

.sentiment-wrapper{
    margin: 0px 10px;
}
.sentiment-box{
 padding: 5px 10px;
 opacity: 0.5;
}

.sentiment-box-active{
    opacity: 1;
    box-shadow: 0px 0px 32px -15px rgba(97,97,97,1);
    font-weight: bold;
    border: 1px solid gray;
}

.s-red{
    background-color: rgb(255, 149, 149);
}

.s-red-light{
    background-color: rgb(252, 192, 192);
}

.s-yellow{
    background-color: rgb(255, 255, 154);
}

.s-green-light{
    background-color: rgb(204, 255, 204);
}

.s-green{
    background-color: rgb(151, 241, 151);
}

.varibale-box{
  border-bottom: 1px solid #c5e8ff;
  padding-bottom: 15px;
}

.timeline-content-custom{
    border: 1px dashed;
    padding: 10px !important;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 10px;
    width: 100%;
}

.dashed-hr {
  height: 0;
  border: 1px dashed #f5f5f5;
  background: transparent;
}
.text-underline {
  text-decoration: underline;
}

.is-disabled {
  cursor: not-allowed;
  opacity: 0.2;
}


.notification-container {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  width: 320px;
  padding: 0px 15px;
  max-height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto;
}

.notification {
  box-sizing: border-box;
  padding: 15px 15px 15px 58px;
  border-radius: 2px;
  color: #fff;
  background-color: #ccc;
  box-shadow: 0 0 12px #999;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.2em;
  position: relative;
  opacity: 0.9;
  margin-top: 15px;
}

.notification .title {
  font-size: 1em;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.notification:hover, .notification:focus {
  opacity: 1;
}

.notification-enter {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
}

.notification-enter.notification-enter-active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: all 0.4s;
}

.notification-leave {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.notification-leave.notification-leave-active {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
  transition: all 0.4s;
}

.notification:before {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -14px;
  display: block;
  font-family: 'Notification';
  width: 28px;
  height: 28px;
  font-size: 28px;
  text-align: center;
  line-height: 28px;
}

.notification-info {
  background-color: #2f96b4;
}

.notification-success {
  background-color: #00be87;
}

.notification-warning {
  background-color: #f89406;
}

.notification-error {
  background-color: #bd362f;
}


// badge
[data-notifications] {
	position: relative;
}

[data-notifications]:after {
	content: attr(data-notifications);
  position: absolute;
  background: #4a8cb2;
  font-size: 11px;
  border-radius: 50%;
  display: inline-block;
  padding: 0.3em;
  color: #f2f2f2;
  right: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
}

// type 2
[data-notifications-2] {
	position: relative;
}

[data-notifications-2]:after {
	content: attr(data-notifications-2);
  position: absolute;
  background: #54798f;
  font-size: 10px;
  border-radius: 50%;
  display: inline-block;
  padding: 0.3em;
  color: #f2f2f2;
  right: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
}

.align-center-left{
  display: flex!important;
    align-items: center;
    justify-content: flex-end;
}

.align-center-center{
  display: flex!important;
  align-items: center;
  justify-content: center;
}

.align-center{
  display: flex!important;
  align-items: center;
}

.overflow_auto{
  overflow: auto!important;
}

.border-right {
  border-right: 1px solid #ccc;

  &.dashed {
    border-right-style:dashed;
  }
}

.border-bottom {
  border-bottom: 1px solid rgba(204, 204, 204, 0.7);

  &.bold {
    border-bottom-width: 4px;
    border-bottom-color: #3298dc;
  }
}

.user-details {
  height: calc(100vh - 85px);
  overflow: scroll;
  h2 {
    span {
      display: inline-block;
    }
  }

  .column {
    margin-bottom: 10px;
    padding-right: 30px;
  }
}
  

.text-centre{
  text-align: center;
}



#activate-feature {
  .dropdown-icon{
    width: 100%;
    justify-content: flex-end;
  }
  .card-margin{
    margin: 2px 0px 2px 0px;
  }
  .existing-feature-value input{
    padding: 5px 10px;
    height: 30px;
  }
}
//emails scss

.email_box {
  border: 1px solid #e6e6e6;
  padding: 20px 0px;
}

.email-signature-box{
  display: flex;
  flex-direction: row-reverse;
}

.emails-heading-h1{
  font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.email-save-btn {
  margin-top: 20px;
  min-width: 112px!important;
  font-size: 16px!important;
  float: right;
}

.hide-template-box{
  display: none;
}

.editing-help-box{
  display: flex;
  flex-direction: row-reverse;
}

.email-box-heading{
  width: 100%;
  font-size: 18px;
  font-weight: 700;
} 

.editing-help-box-menu {
  right: 0px;
  left: unset!important;
  width: 400px;
}

.editing-help-box-menu li {
  list-style-type: disc;
}

.email-header{
  margin-top: 20px!important;
}

.email-content {
  .rdw-editor-toolbar {
    display: none;
  }
  .demo-wrapper {
    border-radius: 4px;
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    font-size: 14px;
  }
}

.form__field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 16px;
  color: black;
  padding: 7px 0;
  background: transparent;
}

.email-type-box{
  background: #F5F5F5;
  border: 1px solid #DCDCDC;
  padding: 15px 20px;
  cursor: pointer;
}

.email-menu-item{
  padding: 10px 25px;
  cursor: pointer;
  border: 1px solid #F5F5F5;

  &:hover{
    background: rgba(245, 245, 245, 0.4);
  }
}


.email-box-right-border{
  border-right: 1px solid #DCDCDC;
}

.fa-arrow-down{
  transform: rotate(0deg);
  transition: transform 1s linear;
}

.fa-arrow-down.open{
  transform: rotate(180deg);
  transition: transform 1s linear;
}

.email-placeholder{
  align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: 28px;
    font-weight: 300;
}

.error-stack-div {
  background: #FAEDED;
}

.error-info-icon {
  background: transparent;
  border: 1px solid;
  color: black;
  margin-right: 10px;
  margin-left: 0px !important;
  font-size: 12px;
  height: 18px;
  width: 18px!important;
  font-weight: 500;
  margin-top: 3px;
}

.eng-oval {
  background-color: #5a5656;
  color: white;
  display: inline-block;
  font-size: 10px;
  position: relative;
  margin-left: 5px;
  border-radius: 50%;
  line-height: 1.5;
  text-align: center;
  font-weight: bolder;
  vertical-align: top;
}

.display-list{
  display: list-item;
  margin-left: 20px;
}

.slack-template {
  textarea {
    height: initial !important;
  }
}

.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}

.radio-options {
  li {
    margin-bottom: 20px;

    &::marker {
      display: none;
    }

    img {
      vertical-align: middle;
      margin-right: 20px;
    }
    
    .rating {
      margin-right: 20px;
    }
  }
}
.line-height-17 {
  line-height: 17px;
  display: inline-block;
}

label {
  &.radio {
    margin-right: 15px;
  }
}