.mg-top-40 {
  margin-top: 40px;
}

.add-banner {
  float: right;
}

.pull-right {
  float: right!important;
}

.display-flex {
  display: flex;
}

.margin-btm-25 {
  margin-bottom: 25px;
}

.centring-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-padding {
  padding: 50px 30px;
}

.banner-date-margin {
  margin-left: 30px;
}

.banner-textarea-pad {
  padding: 10px;
}

@media screen and (min-width: 769px) {
  .flex-touch {
    display: flex;
  }

  .banner-update-btns {
    flex-direction: row-reverse;
    width: 100%;
  }
}

.banner-items-padding {
  padding: 0.5rem 1rem;
}

.align-center {
  align-items: center;
}

.banner-dropdown-box {
  height: 30px !important;
}


.react-datetime-picker .react-datetime-picker__calendar {
  z-index: 2;
}

.banner-color-item {
  display: flex !important;
  align-items: center;
}

.Red-banner-dot::before {
  content: " ";
  height: 15px;
  width: 15px;
  border-radius: 15px;
  display: inline-block;
  background-color: #E9C5C4;
  position: relative;
  margin-right: 5px;
}

.Green-banner-dot::before {
  content: " ";
  height: 15px;
  width: 15px;
  border-radius: 15px;
  display: inline-block;
  background-color: #BEE9D5;
  position: relative;
  margin-right: 5px;
}

.Yellow-banner-dot::before {
  content: " ";
  height: 15px;
  width: 15px;
  border-radius: 15px;
  display: inline-block;
  background-color: #F8EDB6;
  position: relative;
  margin-right: 5px;
}
