// Custom padding
$padding-5 : 5px;
$padding-10 : 10px;
$padding-15 : 15px;
$padding-20 : 20px;
$padding-25 : 25px;
$padding-30 : 30px;
$padding-40: 40px;

.padding-5{
    padding: $padding-5;
}
.padding-10{
    padding: $padding-10 !important;
}
.padding-15{
    padding: $padding-15;
}
.padding-right-25{
    padding-right: $padding-25 !important;
}

.padding-left-5{
    padding-left: $padding-5;
}

.padding-left-10{
    padding-left: $padding-10;
}

.padding-left-15{
    padding-left: 15px;
}

.padding-20{
    padding: $padding-20 !important;;
}
.padding-25{
    padding: $padding-25;
}
.padding-30{
    padding: $padding-30;
}
.padding-40{
    padding: $padding-40;
}

.mg-m10{
    margin: -10px;
}

.no-padding-margin-bottom{
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.padding-bottom-10{
    padding-bottom: 10px;
}

.padding-top-10{
    padding-top: 10px;
}

.padding-top-15{
    padding-top: 15px;
}

.padding-top-20{
    padding-top: 20px !important;
}

.mg-top-5{
    margin-top: 5px;
}

.mg-top-10{
    margin-top: 10px;
}

.mg-left-10{
    margin-left: 10px !important;
}

.mg-right-10{
    margin-right: 10px !important;
}
.mg-top-bottom-5{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}


.mg-top-bottom-10{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}


.mg-top-15{
    margin-top: 15px;
}

.mg-top-25{
    margin-top: 25px;
}

.mg-bottom-10{
    margin-bottom: 10px;
}

.mg-top-bottom-25{
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.padding-left-right-5{
    padding-left: 5px;
    padding-right: 5px;
}

.padding-bottom-30{
    padding-bottom: 30px;
}

.no-data-padding{
    @include above-mobile{
        padding: 146px 10px;
    }
}

.placeholder-padding{
    @include above-mobile{
        padding: 92px 10px;
    }
}

.no-padding{
    padding: 0px !important;
}
.no-padding-bottom{
    padding-bottom: 0px !important;
}
.no-padding-top{
    padding-top: 0px !important;
}

.mg-left-2{
    margin-left: 2em;
}

.tabs ul {
    margin-bottom: 20px;
}

.border-grey{
    border: 1px solid rgb(230, 230, 230);
    border-bottom: 0px;
}

.border-all-grey{
    border: 1px solid rgb(230, 230, 230);
}
.border-5{
      border-radius: 5px !important;
}

.border-left-right-5{
      border-radius: 5px 5px 0 0 !important;
}

.disable-accordian{
    background-color: #e4e4e4;
    cursor: not-allowed !important;
    p{
        color: grey !important;
    }
}

.mg-senti{
    margin-top: 10px !important;
    margin-left: 0px !important;
    margin-bottom: 20px !important;
}