@import './App.scss';
@import './margin-variables.scss';
@import './autocomplete.scss'; 
@import './lifecycle.scss';
@import './bulma-step.scss';
@import './bulma-timeline.scss';
@import './ReactTagsInput.scss';
@import './Banner.scss';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.width-740{
  width: 740px !important;
}
