.stages {
    .card-header {
        .card-header-icon {
            .icon {
                width: auto;
                margin: 0 5px;
            }
        }
    }
    .card-footer-item {
        input {
            width: 100%;
        }
    }
    .rating {
        vertical-align: middle;
        margin-top: 7px;
        span {
            &:nth-child(1) {
                span {
                    span {
                        background-color: #ff5721 !important;
                    }
                }
            }
            &:nth-child(2) {
                span {
                    span {
                        background-color: #ff7043 !important;
                    }
                }
            }
            &:nth-child(3) {
                span {
                    span {
                        background-color: #fece04 !important;
                    }
                }
            }
            &:nth-child(4) {
                span {
                    span {
                        background-color: #66bb69 !important;
                    }
                }
            }
            &:nth-child(5) {
                span {
                    span {
                        background-color: #388e3c !important;
                    }
                }
            }

        }
    }   
    input {
        display: inline-block;
        width: 30%;
        vertical-align: middle;
        
    }
    .icon {
        display: inline-block;
        margin: 0 20px ;
        width: 50px;
        cursor: pointer;

        i {
            margin: 0 3px;
        }
    }   
}