// Small tablets and large smartphones (landscape view)
$screen-sm-min: 778px;
$screen-337-min: 337px;
$fullhd-above: 1472px;


 @mixin above-mobile {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }

 @mixin mobile-only {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }

 @mixin small-mobile-only {
    @media (max-width: #{$screen-337-min}) {
        @content;
    }
 }

 @mixin fullhd-above {
    @media (min-width: #{$fullhd-above}) {
        @content;
    }
 }