.login_form {
	padding: 15px;
	margin: 40px 0px;
}
.full-vh{
	height: 97.8vh;
}
.is-hoverable{
 cursor: pointer;
}
.app-wrapper{
	margin-top: 30px;
}

.notification-message .message {
	background-color: transparent;
}

.dropdown-fix-height{
	max-height: 300px;
	overflow-y: auto;
}

.custom-table{
    overflow-x: auto;
}

.no-focus:focus{
	background-color: #fff !important;
}

.no-data{
    margin: 20px 0px;
}

.pd-up-20{
	padding-top: 18px !important;
}
.pd-up-5{
	padding-top: 5px;
}
.mg-right-20{
  margin-right: 20px;
}
.mg-ud-15{
	margin: 15px 0px;
}
.label {
	font-size: 0.8rem !important;
}

.disable-bg{
	background-color: #f5e8e8 !important;
}

/* Navbar */
.absolute-navMenu{
	position: absolute;
	width: 100%;
}
.navbar{
	 border-bottom: 1px solid lightgray; 
}
.navbar-dropdown{
	 margin-right: 10px;
}
.navbar-item{
	cursor: pointer;
}

.nav-icon{
	margin-right: 8px;
}

.hidden{
	display: none !important;
}

/* Margins */
.margin-auto{
  margin: auto !important;
}
.mg-10{
	margin: 10px;
}
.mg-5{
	margin: 5px;
}
.mg-tb-10{
	margin: 5px 0px; 
}

/* 404 */
#fofmain{
	display: table;
	width: 100%;
	height: 100vh;
	text-align: center;
}

.fof{
	display: table-cell;
	vertical-align: middle;
}

.fof h1{
	font-size: 50px;
	display: inline-block;
	padding-right: 12px;
	animation: type .5s alternate infinite;
}

@keyframes type{
	from{box-shadow: inset -3px 0px 0px #888;}
	to{box-shadow: inset -3px 0px 0px transparent;}
}

.demo-wrapper{
	border: 1px solid lightgray;
	padding: 10px;
}

/* chat */
.chat {
  border: solid 1px #EEE;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.messages {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.chat-message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
	display: inline-block;
	font-size: 0.8rem !important;
}

.amber {
  align-items: flex-start;
}

.amber .chat-message {
  margin-right: 25%;
  background-color: #eee;
  position: relative;
}

.amber .chat-message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}
.amber .chat-message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}

.yours {
  align-items: flex-end;
}

.yours .chat-message {
  color: white;
  margin-left: 25%;
  background: linear-gradient(to bottom, #209cee 0%, #209cee 100%);
  background-attachment: fixed;
  position: relative;
}

.yours .chat-message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: linear-gradient(to bottom, #209cee 0%, #209cee 100%);
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.yours .chat-message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}

.v-middle{
  vertical-align: -webkit-baseline-middle;
}

.sign-img{
  width: 141px;
  margin: auto;
}

.image-conatiner .image{
  display: inline-block
}